# Ignore node_modules directories (for both frontend and backend)
node_modules/

# Ignore build directories (React build output)
client/build/

# Ignore .env files (if you're using environment variables locally)
.env
.env.local

# Ignore log files
*.log
