# Ignore node_modules for backend
node_modules/

# Ignore logs
*.log

# Ignore local environment variables
.env

# Ignore coverage reports (if any)
coverage/

# Ignore temporary or build files (if applicable)
dist/


vercel.json