# Ignore node_modules for the backend
node_modules/

# Ignore logs
*.log

# Ignore local environment files
.env

# Ignore debug or IDE files
.vscode/
.idea/

# Ignore coverage reports if any
coverage/

# Ignore any build or temporary files
dist/

vercel.json